[submodule "libs/xmonad"]
	path = libs/xmonad
	url = https://github.com/reenberg/xmonad.git
[submodule "libs/git-prompt"]
	path = libs/git-prompt
	url = https://github.com/lvv/git-prompt.git
[submodule "libs/org-mode"]
	path = libs/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "haskell-mode"]
	path = haskell-mode
	url = https://github.com/haskell/haskell-mode/
[submodule "libs/site-lisp/haskell-mode"]
	path = libs/site-lisp/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "libs/org-sync"]
	path = libs/org-sync
	url = git://orgmode.org/org-sync.git
[submodule "tools/xmobar"]
	path = tools/xmobar
	url = https://github.com/jaor/xmobar.git
[submodule "tools/hlint"]
	path = tools/hlint
	url = https://github.com/ndmitchell/hlint.git
[submodule "libs/site-lisp/emacs-ctable"]
	path = libs/site-lisp/emacs-ctable
	url = https://github.com/kiwanami/emacs-ctable.git
